:root {
    --cl1: #384d48ff;
    --cl2: #6e7271ff;
    --cl3: #acad94ff;
    --cl4: #d8d4d5ff;
    --cl5: #e2e2e2ff;
    --cl6: #f8f9fa;
}

@font-face {
    font-family: 'Material Symbols Rounded';
    font-style: normal;
    src: url("../assets/icons.woff2") format('woff2');
}

.icn {
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    display: inline-block;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    font-variation-settings: 'FILL' 0;
    transition: font-variation-settings 0.3s ease;
}

.btn:hover .icn {
    font-variation-settings: 'FILL' 1;
    animation: jump 2s var(--time1);
}

@font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 100 700;
    font-stretch: 100%;
    font-display: swap;
    src: url(../assets/IBMPlexSans.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    font-family: "IBM Plex Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main_logo {
    padding: .5em;

    &>b {
        font-weight: 700;
        border-right: 1px solid var(--cl5);
        padding-right: 7px;
        margin-right: 3px;
    }
}

.window {
    background-color: var(--cl5);
    display: flex;
    flex-direction: column;
    height: 100%;

    .nav {
        background-color: var(--cl1);
        color: var(--cl5);
        font-size: 1.3em;
        box-shadow: 0 0 10px #000000ab;
        gap: .5em;
        padding: 5px;

        & .btn {
            display: flex;
            flex-direction: row;
            gap: 5px;
            padding: .5em .7em;
            align-items: center;
            border-radius: .5em;
            font-size: .8em;

            &>.icn {
                font-size: .9em;
            }

            &.active {
                background-color: var(--cl3);
                color: var(--cl1);
            }

            &:hover {
                background-color: var(--cl2);
                color: inherit;
            }
        }
    }

    &>* {
        display: flex;
    }
}

.pages_nav {
    padding: 3px;
    backdrop-filter: brightness(80%);
    border-radius: .7em;
    display: flex;
    flex-direction: row;
    gap: 3px;
}

body,
html,
.pages {
    height: 100%;
}

.page {
    flex: 1;
    padding: 1em;
    height: calc(100% - 2em);
    overflow-y: auto;
}

p {
    max-width: 700px;
}

table {
    width: 100%;
    max-width: 700px;
    border: 1px solid var(--cl3);
    border-radius: 1em;
    background-color: white;
    border-spacing: 0;
    overflow: hidden;
    padding: 1.5em;

    &>hover {
        box-shadow: 0 5px 10px #00000034;
    }

    & tr:nth-child(even) {
        background: var(--cl6);
    }

    & tr {
            border-bottom: 1px solid var(--cl3);
        &:last-child {
            border-bottom: 0;
        }
    }

    & th {
        font-size: small;
        opacity: .8;
        font-weight: normal;
        text-align: left;
    }

    & td,
    th {
        padding: .5em;
        border-right: 1px solid var(--cl3);

        &:last-child {
            border-right: 0;
        }
    }
}